In [16]:
import pandas as pd 
import warnings

warnings.filterwarnings('ignore')

In [17]:
path = 'H:/yuping/物流查询/付款订单订单.xlsx'
df_data = pd.read_excel(path, usecols=['快递公司', '快递单号','状态'])

In [18]:
df_data = df_data[df_data['快递公司'] != '无需物流']
df_data = df_data[~df_data['状态'].isin(['被拆分','被合并','取消'])]
df_data = df_data[pd.notna(df_data['快递公司']) & pd.notna(df_data['快递单号'])]

In [19]:
df_data.head()

     状态      快递公司             快递单号
81  已发货  江苏中通-东台仓   78676797502696
82  已发货  江苏中通-东台仓   78676797502688
83  已发货      阿武韵达  433176881393430
84  已发货    邮政快递包裹    9870926589123
85  已发货  江苏中通-东台仓   78676774862454

In [20]:
    def _clean_same_data(df):
        df.loc[df['快递公司'].str.contains('EMS'), '快递公司'] = 'ems'
        df.loc[df['快递公司'].str.contains('邮政'), '快递公司'] = '邮政'
        df.loc[df['快递公司'].str.contains('百世'), '快递公司'] = '百世'
        df.loc[df['快递公司'].str.contains('韵达'), '快递公司'] = '韵达'
        df.loc[df['快递公司'].str.contains('圆通'), '快递公司'] = '圆通'
        df.loc[df['快递公司'].str.contains('申通'), '快递公司'] = '申通'
        df.loc[df['快递公司'].str.contains('中通'), '快递公司'] = '中通'
        df.loc[df['快递公司'].str.contains('极兔'), '快递公司'] = '极兔'
        df.loc[df['快递公司'].str.contains('京东'), '快递公司'] = '京东' 
        df.loc[df['快递公司'].str.contains('壹米滴答'), '快递公司'] = '壹米滴答'
        df.loc[df['快递公司'].str.contains('中铁快运'), '快递公司'] = '中铁快运'
        df.loc[df['快递公司'].str.contains('安能物流'), '快递公司'] = '安能物流'
        df.loc[df['快递公司'].str.contains('丰网'), '快递公司'] = '丰网'
        

        df['快递单号'].replace(to_replace='@', value='', inplace=True, regex=True)  
        df['status']=0
        df = df.apply(lambda x: x.fillna(0) if x.dtype.kind in 'fi' else x.fillna('') if x.dtype.kind in 'O' else x)
        return df

In [21]:
df_clean = _clean_same_data(df_data)
df_clean = df_clean[['快递公司','快递单号']]

In [24]:
df_clean[df_clean['快递公司'] == '安能物流']

       快递公司          快递单号
38550  安能物流  300533774687
38551  安能物流  300533774687
38552  安能物流  300533774687
38553  安能物流  300533774687
38554  安能物流  300533774687

In [26]:
# df_clean['快递公司'].unique()
company = df_clean['快递公司'].unique()

for name in company:
    df = df_clean[df_clean['快递公司']== name]
    n = 0 
    rows = df.shape[0]
    print(name, rows)
    for i in range(0, rows, 4000):
        j = i + 4000
        df1 = df.iloc[i:j, :]
        n = n+1
        print(n)
        df1.to_excel(f'H:/yuping/物流查询/待查询物流/{name}{n}.xlsx', index= False)

中通 38512
1
2
3
4
5
6
7
8
9
10
韵达 1243
1
邮政 19877
1
2
3
4
5
申通 11330
1
2
3
极兔 1606
1
圆通 268
1
ems 30
1
丰网 3
1
安能物流 5
1

#### 数据存入数据库

In [29]:
import os 
from sqlalchemy import create_engine

In [33]:
data_list = []
folder_path = r'H:\yuping\物流查询\合并数据'

for root, dirs, files in os.walk(folder_path):
    for file in files:
        
        path = os.path.join(root, file)
        print(path)
        df = pd.read_excel(path)
     
        data_list.append(df)

df_main = pd.concat(data_list)
print(df_main.shape)

df_main = df_main.drop_duplicates(subset=['快递单号', '快递公司'])
df_main.shape

H:\yuping\物流查询\合并数据\任务名R230423_231490655_等4个任务_全部_1554条数据.xlsx
H:\yuping\物流查询\合并数据\任务名R230423_231906950_等10个任务_全部_32275条数据.xlsx
H:\yuping\物流查询\合并数据\任务名R230423_232530266_等10个任务_全部_37907条数据.xlsx
(71736, 16)

(71735, 16)

In [46]:
# del df_main['任务备注']
# del df_main['订单编号']
df_main = df_main.apply(lambda x: x.fillna(0) if x.dtype.kind in 'fi' else x.fillna('') if x.dtype.kind in 'O' else x)

In [47]:
import pymysql
'''连接数据库'''
conn = pymysql.connect(
    user='fl_senhubi',
    password='fl1886870',
    host='222.188.126.45',
    database='sh_data',
    port=12306 )

cur = conn.cursor()

def data_storege(df_data, table_name):
    '''数据存储数据库'''
    
    df_data = df_data.copy()
    value_lists = [[None if pd.isna(y) else y for y in x] for x in df_data.values]
    columns_str = ','.join(df_data.columns)
    update_key = []
    update_key.extend(df_data.columns)

    s_count = '%s,' * len(df_data.columns)
    update_dict = {key: 'values({key})'.format(key=key) for key in update_key}

    update_list = ["{key}={value}".format(key=key, value=value) for key, value in update_dict.items()]

    update_str = ','.join(update_list)
    
    sql_cmd = "insert into {table}({keys}) values ({values}) on duplicate key update {update_str}".format(
        table=table_name, keys=columns_str, values=s_count[:-1], update_str=update_str)

    try:
        print('清空当日插入数据~~~~')
        
        sql_del = f'DELETE FROM {table_name} WHERE date(c_time)= CURRENT_DATE()'
        cur.execute(sql_del)
        conn.commit()
    except Exception as e:
        
        print('插入数据失败~~~', e)
        print(sql_del)
        conn.rollback()

    try:
        cur.execute(f'ALTER TABLE `{table_name}` AUTO_INCREMENT =1')
        cur.executemany(sql_cmd, value_lists)
        conn.commit()
        print('执行成功！')
    except Exception as e:
        conn.rollback()
        print('执行失败!', e)
        print(sql_cmd)

        

data_storege(df_main, 'ods_zzy_lg_order') #

清空当日插入数据~~~~
执行成功！

In [48]:
# df_main